body {
    
    width: 1440px;
    height: 1374px;
    background-color: #F4F4F4;

}
.main {
    /* position: relative; */

    
    
}
.head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 40px;
    padding-left: 100px;
    padding-right: 100px;
   
}
.text-left {
    display: flex;
    gap: 140px;


}
.logo-mid {
    width: 115px;
    height: 89px;
    color: #184030;
}
.text-right {
    display: flex;
    gap: 100px;
}
.text-head-normal {
    font-family: Space Mono;
    font-size: 24px;
    font-weight: 700;
    color: #184030;
    text-align: center;
    word-spacing:4px;
    
}
.about-us {
    color: #117D54;
}



/* -------------body--------------- */

.head-text {

    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 80px;
    margin-left: -36px;




}
.head-text-small {


    color: #117D54;
    font-family: Space Mono;
    font-size: 16px;
    font-weight: 700;
    width: 120px;

}
.head-text-big {
    color: #184030;
    font-family: Raleway;
    font-size: 48px;
    font-weight: 500;
    line-height: 110%;
    width:1000px;
    text-align: center;
    

}
.head-text-big p {
    margin: 0;
    text-transform: uppercase;
}
.head-text-normal {
    color: #184030;
    text-align: center;
    font-family: Raleway;
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    width: 1000px;

}


.body-card {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 53px;
    margin-top: 80px;
}

.body-card-all {
    display: flex;
    padding:16px 24px;
    flex-direction: column;
    align-items: center;
    align-self: stretch;
    background-color: #117D54;
    border-radius: 10px;

}
.body-card-all-big {
    color: #F4F4F4;
    font-family: Raleway;
    font-size: 60px;
    font-weight: 500;
    line-height: 110%;
    text-transform: uppercase;
    margin: 0;
}

.body-card-all-mormal {
    color: var(--greys-smoke, #F4F4F4);
    text-align: center;
    font-family: Raleway;
    font-size: 24px;
    font-weight: 500;
    line-height: 30px;
    text-transform: uppercase;
    margin: 0;
}

.body-card-all-small {
    width: 258px;
    color: var(--greys-smoke, #F4F4F4);
    text-align: center;
    font-family: Raleway;
    font-size: 16px;
    font-weight: 500;
    line-height: 140%;
    margin-top: 10px;
}

.head-text-mid {
    margin-bottom: 80px;
    /* margin-top: 80px; */
    padding-top: 80px;
}

.core-values {
    background-color: #D6D6D6;
    
}

.core-values-info {

    margin-top: 80px;
    padding-bottom: 80px;
}
.core-values-info-row {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    margin-top: 60px;

    
}
.core-values-info-in {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.core-values-info-in img {
    width: 24px;
    height: 24px;
    padding: 14px;
    background-color: #D5F284;
    border-radius: 10px;
}
.core-values-info-in-big {
    color: var(--primary-green-darker-green, #184030);
    text-align: center;
    font-family: Raleway;
    font-size: 24px;
    font-weight: 500;
    line-height: 110%;
    margin-bottom: 0;
}
.core-values-info-in-small {
    width: 360px;
    color: var(--primary-green-darker-green, #184030);
    text-align: center;
    font-family: Raleway;
    font-size: 16px;
    font-weight: 500;
    line-height: 140%;
    
}


.careers-all {
    display: flex;
    flex-direction: column;
    margin-left: 260px;
    gap: 40px;
    margin-top: 60px;
}
.careers-in {
    display: flex;
    padding: 24px 24px 28px 24px;
    align-items: flex-start;
    gap: 24px; 
    flex-direction: column;
    border: 2px solid #D6D6D6;
    border-radius: 20px;
    width: 767px;
}
.careers-all-text-big {
    color: var(--primary-green-lighter-green, #117D54);
    font-family: Raleway;
    font-size: 24px;
    font-weight: 500;
    line-height: 28px;
    margin: 0;
}
.careers-all-text-small {
    color: var(--primary-green-darker-green, #184030);
    font-family: Raleway;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    margin: 0;
}

.careers-all-icon_text {
    display: flex;
    gap: 40px;
}
.careers-all-icon_text-row {
    display: flex;
    align-items: center;
    gap: 10px;
}
.careers-all-icon_text-row img {
    width: 24px;
    height: 24px;
}
.careers-all-icon_text-row p {
    color: var(--primary-green-darker-green, #184030);
    font-family: Raleway;
    font-size: 16px;
    font-weight: 500;
    line-height: 130%;
}

.careers-footer_text {
    color: var(--greys-dark-grey, #2C2C2C);
    text-align: center;
    font-family: Space Mono;
    font-size: 16px;
    font-weight: 700;
    line-height: 140%;
    text-decoration-line: underline;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    margin-top: 48px;
    margin-bottom: 80px;
}

/* ------------------ */



.footer-deep {
    background-color: #2C2C2C;
    /* width: 1440px; */
    
}

.footer-deep-head {
    display: flex;
    gap: 140px;
    justify-content: center;
    padding-top: 50px;
}
.footer-deep-head-logo img {
    width: 87px;
    height: 68px;
}
.footer-deep-head-left {
    width: 518px;
}
.footer-deep-head-left-bigtext {
    color:#FCFCFD;
    font-family: Raleway;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
}
.footer-deep-head-left-smalltext {
    color:#FCFCFD;
    font-family: Raleway;

    
}
.footer-deep-head-left-smalltext-infomation {
    display: flex;
    font-size: 12px;
    
    line-height: 17.4px;
}
.footer-deep-head-left-smalltext-name {
    font-weight: bolder;
    margin-right: 6px;
    font-weight: 700;
}
.footer-deep-head-left-smalltext-info {

}


.footer-deep-head-right {
    width: 140px;
}
.footer-deep-head-right-bigtext {
    color:#FCFCFD;
    font-family: Raleway;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
}
.footer-deep-head-right-smalltext {
    color:#FCFCFD;
    font-family: Raleway;
    font-size: 12px;
    line-height: 17.4px;
}

.footer-deep-head-tetx_logo {
    color:#FCFCFD;
    font-family: Raleway;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
}

.footer-deep-head-tetx_logo-logo {
display: flex;
gap: 20px;
}

.lines {
    opacity: 30%;
    margin-top: 30px;
    margin-bottom: 30px;
}
.footer-deep-footer {
    color: #FCFCFD;
    font-family: Raleway;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    margin-left: 40px;
    padding-bottom: 20px;
}
.none-a {
    text-decoration: none;
}